/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
MAIN
*/

body{
    background-color:#100645;
}

header{
    width: 1000px;
    background-color:#2D28EB;
    min-height: 230px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 0 auto;
    background-image: url(/images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: white;
    padding-top: 30px;
}
.main-content{
    width: 1000px;
    margin: 0 auto;
}
#boxes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-box{
    border-radius: 15px;
    height: 100px;
    width: calc((100% / 8) - 25px);
    margin-top: 25px;
    margin-right: 25px;
    background-color: #2E6754;
    cursor: pointer;
}
.single-box:nth-child(8n) {
    margin-right: 0;
}
.single-box:last-child {
    width: 100%; /* Fai occupare all'ultima casella tutta la larghezza */
    margin-right: 0; /* Rimuovi il margine destro */
    background-color:#D4D6F5;

}
/* box cliccata cambia stile */
.clicked-box{
    margin-top: 25px;
    margin-right: 25px;
    width: calc((100% / 8) - 25px);
}
.day-number{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.day-number>span{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}
/* Modifica il colore dell'ultimo span all'interno dell'ultimo single-box */
.single-box:last-child .day-number > span {
    color: #2E6754; 
}

/* Sfondo overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Overlay trasparente */
    display: none; /* Nasconde il modale di default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenuto della modale */
  .modal-content {
    background-color: #eb96d8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%; /* Per renderlo reattivo */
    text-align: center;
    position: relative;
  }
  
  /* Pulsante chiudi */
.modal-close {
    margin-top: 20px; /* Aggiungi spazio sopra */
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }